@model SchoolDb.Models.Teacher

@{
    ViewBag.Title = "Show";
}
<nav>
    <a class="navlink" href="/Teacher/list">Back to Teachers</a>
    <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    <a class="updatelink" href="/Teacher/Update/@Model.TeacherId">Update</a>
</nav>

<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<li>@Model.HireDate </li>
<li> @Model.Salary </li>
<li>@Model.EmployeeNumber</li>


